body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.error-message {
  color: red;
}
.alert {
  border: red 3px solid !important;
}
.success {
  border: green 3px solid !important;
}

.signup__img{
  margin-left:5em;
}
